newvenv
my_project
venv
.vscode
...env
.pytest_cache
config/__pycache__/settings.cpython-310.pyc
__pycache__
....env
.env
....env
config/__pycache__/settings.cpython-310.pyc
config/__pycache__/settings.cpython-310.pyc
