
psycopg2-binary==2.9.3
gunicorn==20.1.0
google-cloud-secret-manager==2.9.1
crispy-bootstrap5==0.6  # https://github.com/django-crispy-forms/crispy-bootstrap5
uvicorn[standard]==0.17.5  # https://github.com/encode/uvicorn
Collectfast==2.2.0  # https://github.com/antonagestam/collectfast
argon2-cffi==21.3.0  # https://github.com/hynek/argon2_cffi
# Django
# ------------------------------------------------------------------------------
Django==4.0.3
django-storages[google]==1.12.3  # https://github.com/jschneier/django-storages
django-environ==0.8.1  # https://github.com/joke2k/django-environ
django-anymail[sendgrid]==8.5  # https://github.com/anymail/django-anymail
django-allauth==0.49.0  # https://github.com/pennersr/django-allauth
django-crispy-forms==1.14.0  # https://github.com/django-crispy-forms/django-crispy-forms
django-model-utils==4.2.0  # https://github.com/jazzband/django-model-utils
django-bootstrap-v5==1.0.11
####
#
#TESTING#
#########
